body,
h1,
h2,
h3,
h4,
h5,
h6,
html,
p {
  margin: 0;
  padding: 0;
}

.head {
    display: flex;
    width: auto;
    flex-direction: column;
    background: #FFF2F3;
}

.header-top {
    display: flex;
    width: auto;
    justify-content: space-between;
    background: #FFF2F3;
}

.headtext {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252b42;
    margin-right: 87px;
    margin-top: 30px;
    margin-left: 195px;
    width: 141px;
    height: 32px;
    left: 0px;
    top: 13px;
    letter-spacing: 0.1px;

}

.headmenu {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #737373;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: space-between;
    margin-left: 21px;
    margin-top: 33px;
}

.login {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.2px;
    color: #96BB7C;
    margin-top: 34px;
    margin-right: 24px;
    cursor: pointer;
    border-color: #FFF2F3;
    background: transparent;
    border:none;

}

.header-buttons {
    display: flex;
    justify-content: flex-end;
}

.Join-us {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 25px;
    gap: 15px;
    width: 137px;
    height: 52px;
    left: 0px;
    top: 0px;
    background: #96BB7C;
    border-radius: 5px;
    margin-top: 32px;
    margin-right: 279px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    border-color: #96BB7C;
    border:none;


}

.content-header-welcome {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #96BB7C;
    margin-top: 243px;
    margin-left: 132px;
}

.content-header-h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-left: 132px;
    margin-top: 30px;
    width: 542px;
    height: 160px;
    }

 .content-header-h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #737373;
    width: 338px;
    height: 60px;
    margin-left: 132px;
    margin-top: 30px;
    }

.header-img {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: -260px;
    }


.hr-delimiter {
    width: 95px;
    height: 7px;
    color: #E74040;
    background-color: #E74040;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
}
.main-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
    flex: none;
    order: 1;
    flex-grow: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 35px;
}

.main-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 351px;
    height: 60px;
}

.main-button-learn {
    width: 102px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #96BB7C;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: transparent;
    border:none;
    cursor: pointer;
}

.main-box-Certified-Teacher {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: nowrap;
    margin-right: 15px;
    padding: 35px 40px;
    gap: 20px;
    width: 249px;
    height: 292px;
    background: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    flex: none;
    order: 0;
    flex-grow: 0;
}

.main-box-Certified-Teacher-img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px 19px;
    gap: 10px;
    width: 70px;
    height: 76px;
    background: #96BB7C;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
}

.main-box-Certified-Teacher-title {
    width: 157px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
    flex: none;
    order: 1;
    flex-grow: 0;
    
}

.main-box-Certified-Teacher-text {
    width: 132px;
    height: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    flex: none;
    order: 3;
    flex-grow: 0;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.hr-main {
    width: 50px;
    height: 2px;
    background: #E74040;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-left: 0;
}

.main-box-Expert-instruction {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: nowrap;
    margin-left: 0px;
    padding: 35px 40px;
    gap: 20px;
    width: 249px;
    height: 292px;
    background: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    flex: none;
    order: 0;
    flex-grow: 0;
}
.main-boxes {
    display: flex;
    flex-direction: row;
}
.main-box-Expert-instruction-img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px 19px;
    gap: 10px;
    width: 70px;
    height: 76px;
    background: #96BB7C;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
}

.main-box-Expert-instruction-title {
    width: 157px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.main-box-Expert-instruction-text {
    width: 132px;
    height: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    flex: none;
    order: 3;
    flex-grow: 0;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}

.hr-main-right {
    width: 50px;
    height: 2px;
    background: #E74040;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-left: 0;
}

.video-part {
    display: flex;
    width: auto;
    width: 1440px;
    height: 817px;
    background: #FFFFFF;
    flex: none;
    flex-grow: 0;
    width: 1020px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: auto;

}
.video-left-img {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.video-left-pic {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 520px;
    height: 549px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.hr-delimiter-video {
    width: 94px;
    height: 7px;
    background: #E74040;
    flex: none;
    order: 0;
    flex-grow: 0;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    margin: 0;
}

.video-title {
    width: 271px;
    height: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 35px;
}

.video-text {
    width: 351px;
    height: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-top: 35px;
}

.video-button-learn {
    width: 102px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #96BB7C;
    flex: none;
    order: 0;
    flex-grow: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    background: transparent;
    border:none;
    cursor: pointer;
    margin-top: 35px;
}

.packages {
    display: flex;
    padding-top: 160px;
    padding-bottom: 220px;
    justify-content: center;
    align-items: center;
}
.header-bottom-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
.packages-title {
    width: 510px;
}

.video-right {
    margin-left: 144px;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.Practice-Advice-pretitle {
    width: 114px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #96BB7C;
    margin-top: 160px;
}

.Practice-Advice-title {
    width: 446px;
    height: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-top: 10px;
    margin-bottom: 10px;
    }

.Practice-Advice-text {
    width: 469px;
    height: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 96px;
}

.list-bottom-containers {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.list-item-mg {
    background-image: url(./img/product-cover-233\ sec-.png);
    height: 402px;
    width: 209px;
}

.sale {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    width: 36px;
    height: 24px;
    background: #E74040;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;

}

.list-item-img-top {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.list-item-mg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.list-item-img-bottom {
    align-items: center;
    display: flex;
    justify-content: center;
}
.list-item-img-bottom button {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 44.7857px;
    border: 0;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 24px;
    cursor: pointer;
}

.rate {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 5px;
    width: 50px;
    height: 26px;
    background: #2D4059;
    border-radius: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-top: 37px;
    }

.left-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.online-stat {
    width: 153px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #96BB7C;
    margin-left: 25px;
    margin-right: 39px;
    margin-top: 37px;
}

.list-item-content-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.list-header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-left: 25px;
    }

.list-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    width: 242px;
    height: 60px;
    margin-left: 25px;
    margin-top: 10px;
}

.list-point {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-top: 10px;
}

.list-point img {
    margin-right: 10px;
}

.list-prices {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.high-price {
    width: 52px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #BDBDBD;
    margin-left: 25px;
    margin-right: 5px;
    margin-top: 15px;
}

.low-price {
    width: 45px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FFAB71;
    margin-top: 15px;
}

.list-discription {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.Time {
    width: 33px;
    height: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-right: 11px;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 31px;
    margin-right: 20px;
}

.Lessons {
    height: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-right: 11px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 31px;
}

.progress {
    width: 33px;
    height: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-right: 11px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 31px;

}

.Time img {
    margin-right: 10px;
}

.Lessons img {
    margin-right: 10px;
    margin-left: 12px;
}

.progress img {
    margin-right: 10px;
}

.list-item-mg-right {
    background-image: url(./img/product-cover-232\ sec-.png);
    height: 402px;
    width: 209px;
}

.list-item-mg-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-item-img-top-right {
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.list-item-img-bottom-right {
    align-items: center;
    display: flex;
    justify-content: center;
}

.list-item-content-header-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.online-stat-right {
    width: 153px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #96BB7C;
    margin-left: 25px;
    margin-right: 39px;
    margin-top: 37px;
}

.list-item-img-bottom-right button {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 44.7857px;
    border: 0;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 24px;
    cursor: pointer;
}

.list-header-right {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-left: 25px;
}

.list-text-right {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    width: 242px;
    height: 60px;
    margin-left: 25px;
    margin-top: 10px;
}

.right-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.description {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.testimonials {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.header-testimonials {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #96BB7C;
    margin-top: 160px;
    margin-bottom: 10px;
}

.main-header-testimonials {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 10px;
}

.description-testimonials {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 96px;
}

.designers {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
}

.left-designer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.photo-designer-left {
    border-radius: 50%;
    overflow: hidden;
    width: 128px;
}

.designer-left-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin-top: 30px;
    margin-bottom: 16px;
}

.designer-left-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-top: 16px;
    margin-bottom: 5px;
}

.designer-left-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;

}

.right-designer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.photo-designer-right {
    border-radius: 50%;
    overflow: hidden;
    width: 128px;
}

.designer-right-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin-top: 30px;
    margin-bottom: 16px;
}

.designer-right-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-top: 16px;
    margin-bottom: 5px;
}

.designer-right-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}

.team {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.team-text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 112px;
}

.header-team {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #96BB7C;
    margin-top: 160px;
    margin-bottom: 10px;
}

.main-header-team {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-bottom: 10px;
}

.description-team {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 96px;
}

.photos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.right-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    
}

.Julian-Jameson {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-top: 30px;
    margin-bottom: 10px;
}

.Profession {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 10px;
}

.facebook {
    border: none;
    background-color: transparent;
}

.inst {
    border: none;
    background-color: transparent;
}

.twitter {
    border: none;
    background-color: transparent;
}

.button-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.right-centre-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}